.container {
  /* 角を丸くする */
  border-radius: 0.5rem;
  /* ボックスシャドウを指定する */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* アウトラインを指定する */
  border: 1px solid #ccc;
  position: relative;
}

.thumbnail {
  display: block;
  width: 100%; /* Full width of the card */
  height: 100%; /* Full height of the card */
  aspect-ratio: 1 / 1; /* Ensures the image is square */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.details {
  padding: 1rem 0.5rem; /* Adjust padding as needed */
  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .price {
    span {
      font-weight: bold;
    }
  }
}
