#roomHeader {
  /* 画面最上部に固定する */
  position: fixed;
  top: 0;
  width: 100%;
  /* 他の要素よりも手前に表示する */
  z-index: 99999;
  /* 背景色を指定する */
  background-color: #fff;
  padding: 1rem 5rem;
  /* ボーダーラインを指定する */
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
}

.navItem {
  /* 訪問後の色を変化させない */
  color: inherit;
  text-decoration: none;
  /* ホバー時に文字を大きくする */
  &:hover {
    transform: scale(1.05);
  }
  /* アイテムの間に余白を設ける */
  margin-right: 2rem;
  /* 文字を太くする */
  font-weight: bold;
}

.reserve {
  display: flex;
  align-items: center;
  .button {
    margin-left: 1rem;
    /* ボタンの余白を指定する */
    padding: 0.9rem 2rem;
    font-size: 1rem;
    /* ボタンの角を丸くする */
    border-radius: 0.5rem;
    /* ボタンの文字色を白色に指定する */
    color: #fff;
    /* ボタンの背景色を青色に指定する */
    background: linear-gradient(45deg, #173bef, #1b68ee);
  }
}

/* Mobileディスプレイのスタイリング */
@media (max-width: 767px) {
  #roomHeader {
    display: none;
  }
}
