#roomHeader {
  /* 画面最上部に固定する */
  position: fixed;
  top: 0;
  width: 100%;
  /* 他の要素よりも手前に表示する */
  z-index: 99999;
  /* 背景色を指定する */
  background-color: #fff;
  padding: 1rem 2rem;
  /* ボーダーラインを指定する */
  border-bottom: 1px solid #ccc;
}

.menu {
  display: flex;
  list-style-type: none;
}

.navItem {
  /* 訪問後の色を変化させない */
  color: inherit;
  text-decoration: none;
  /* ホバー時に文字を大きくする */
  &:hover {
    transform: scale(1.05);
  }
  /* アイテムの間に余白を設ける */
  margin-right: 2rem;
  /* 文字を太くする */
  font-weight: bold;
}

/* Mobileディスプレイのスタイリング */
@media (max-width: 767px) {
  #roomHeader {
    display: none;
  }
}
