.container {
  margin: 0 1rem;
  section {
    margin: 1rem 0;
  }
}

/* PCディスプレイのスタイリング */
@media (min-width: 768px) {
  .container {
    margin: 0 5rem;
  }
}

/* Mobileディスプレイのスタイリング */
@media (max-width: 767px) {
  .footerWrap {
    /* フローティングナビゲーションの高さを考慮 */
    padding-bottom: 4.5rem;
  }
}
