.container {
  /* 角を丸くする */
  border-radius: 0.5rem;
  /* ボックスシャドウを指定する */
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  /* アウトラインを指定する */
  border: 1px solid #ccc;
  position: relative;
}

.thumbnail {
  position: relative;
  width: 100%;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  span {
  }
}
